<div class="profile-container">
  <div class="profile-box">
    <h2><%= @user.name %> さんの基本情報</h2> 
    <table>
      <tr>
        <td>専門シフト</td>
        <td><%= @user.shift_stabilize %></td>
      </tr>
      <tr>
        <td>出勤不可曜日</td>
        <td><%= @user.wday %></td>
      </tr>
      <tr>
        <td>週◯回</td>
        <td><%= @user.max_work %></td>
      </tr>
      <tr>
        <td>土日祝勤務</td>
        <td>
          <% if @user.holiday == true %>
            ◯
          <% end %>
        </td>
      </tr>
    </table>
    <h3>シフトイン可能店舗</h3>
    <% @user.store_users.each do |store_user| %>
      <p><%= store_user.store.name %></p>
    <% end %>
  </div>
</div>
