<!DOCTYPE html>
<html>
  <head>
    <title>CellShift</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-left">
        LOGO
      </div>
      <div class="header-right">
        <% if user_signed_in? || admin_signed_in? %>  
          <div class="nav-bar">
            <p><%= current_user.name %></p>
          </div>
          <nav class="menu">
            <ul>
              <li><%= link_to "シフト" %></li>
              <li><%= link_to "店舗" %></li>
              <li><%= link_to "スタッフ" %></li>
              <li><%= link_to "設定", edit_user_user_path(id: current_user.id) %></li>
              <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
            </ul>
          </nav>
        <% else %>
          <%= link_to "ログイン", new_admin_session_path,  class: "link login" %>
          <%= link_to "新規登録", new_admin_registration_path,  class: "link signup" %>
        <% end %>
      </div>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
      <p>© <%= Time.current.year %> CELL SHIFT</p>
    </footer>
  </body>
</html>
