<div class="sign-in-up-container">
  <div class="sign-in-up-box">
    <h3>アカウント編集</h3>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "users/shared/error_messages", resource: resource %>
    
      <div class="field">
      <%= f.text_field :name, autofocus: true, placeholder: "名前" %>
      </div>
    
      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス" %>
      </div>
    
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
    
      <div class="field">
        <%= f.password_field :password, autocomplete: "new-password", placeholder: "パスワード ※6文字以上" %>
      </div>
    
      <div class="field">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "パスワード確認" %>
      </div>
    
      <div class="actions">
        <%= f.submit "更新", class: "btn update"%>
      </div>
    <% end %>
  </div>
</div>

<%= button_to "アカウントを削除", registration_path(resource_name), data: { confirm: "本当に削除しますか?" }, method: :delete %></p>

<%= link_to "戻る", :back %>
